.Balance{
    text-align: center;
    margin-top: 0.5rem;
    width: auto;
    height: auto;
}
.button-connect{
    border: 15rem;
    border-radius: 15rem;
    width: auto;
    color: #080808;
}

.button-connect:hover{
    background-color: #00CC00;
    color: #FFFFFF;
}

